# Supabase Configuration
VITE_SUPABASE_URL=https://mwrmweqoajhlaetvjnxd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im13cm13ZXFvYWpobGFldHZqbnhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0ODk2MzYsImV4cCI6MjA5MTA2NTYzNn0.D-IXqlw9uwjFWDtn3p1HMcUQunb_0PBIa_rFXlGykcM
